{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<!DOCTYPE html>
<html>
<title>About us</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80');
  min-height: 100%;
}
</style>
<body>

<!-- Sidebar with image -->

<!-- Hidden Sidebar (reveals when clicked on menu icon)-->


<!-- Page Content -->


  <!-- Portfolio Section -->
  <div class="w3-padding-32 w3-content" id="portfolio">
     <br><br>
    <h2 class="w3-text-black">About us</h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="https://images.unsplash.com/photo-1593642532400-2682810df593?ixlib=rb-1.2.1&ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80">
        
      </div>

      <div class="w3-half">
        <img src="" >
        
      </div>
    
    </div>
  
  </div>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-black w3-padding-32" id="about">
    
    
    <p>La robe , making shopping safer


       <br><br><br><h4><b>Background : </b></h4>
       <br>
       Since the beginning of the COVID pandemic The Global sales of stores has decreased rapidly.This pandemic had an severe impact on the small stores who werent able to sell their products
       
       <br><br><br><h4><b>Action Plan : </h4></b>
       <br>
       We understood that this is an major problem that the whole world faced, and we accordingly made a website 
       which restricts the number of customers entering a particular store so that the stores wont be overcrowded and it would be easier to sanitize a store with restricted number of customers

       <br><br><br><h4><b>Our Purpose : </h4></b>
       <br>
       One might say that they may directly contact a store to check if a physical visit is possible to a store which is absolutely fine. But , what if you want to contact multiple stores at once. 
       That's where we help you as we have connections with multiple stores 
    </p>
    

   

  <!-- Contact Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
    <a href="/contact"><h2>Lets get in touch</h2>
    <hr class="w3-opacity">

    
    
  
  </div>  
  
  

</div>
<div class="w3-content w3-justify w3-text-black w3-padding-32" id="about">


</body>
</html>
{% endblock body %}
