{% extends 'base.html' %}

{% block title %}Comment{% endblock title %}

{% block body %}




<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="margin-top:20px;
    background-color:#e9ebee;"><div class="container">
<div class="be-comment-block" style="margin-bottom: 50px !important;
    border: 1px solid #332c97;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #af3b1e;">
    <br>

	<h1 class="comments-title" style="font-size: 25px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'sans-serif';" ;><center>Customer Reviews</center></h1>
    <br><br>
	<div class="be-comment">
		<div class="be-img-comment" style="width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;">	
			<a href="blog-detail-2.html">
				<img src="http://www.manager.protegesportshq.com/assets/uploads/news/cover_images/garethbale.jpeg" alt class="be-ava-comment" style="width: 60px;
    height: 60px;
    border-radius: 50%;"></a>
		</div>
		<div class="be-comment-content" style="margin-left: 80px;">
 
				<span class="be-comment-name" style="font-size:13px;font-family:'sans-serif';display:inline-block;width:49%;margin-bottom:15px;">
					<a href="blog-detail-2.html" style="color: #383b43;">Gareth Bale</a>
					</span>
				<span class="be-comment-time" style="text-align:right;font-size:11px;color:#b4b7c1;display:inline-block;width:49%;margin-bottom:15px;">
					<i class="fa fa-clock-o"></i>
					December 27, 2020 at 3:14pm
				</span>
 
			<p class="be-comment-text" style="font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;">
				Their service was absolutely fantastic 
			</p>
		</div>
	</div>
    <br>
	<div class="be-comment">
		<div class="be-img-comment" style="width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;">	
			<a href="blog-detail-2.html">
				<img src="https://static-ai.asianetnews.com/images/01ecktm30rb6ymhqtsmffhz30j/keanu-reeves-jpg.jpg" alt class="be-ava-comment" style="width: 60px;
    height: 60px;
    border-radius: 50%;"></a>
		</div>
		<div class="be-comment-content" style="margin-left: 80px;">
			<span class="be-comment-name" style="font-size:13px;font-family:'sans-serif';display:inline-block;width:49%;margin-bottom:15px;">
				<a href="blog-detail-2.html" style="color: #383b43;">Keanu Reeves</a>
			</span>
			<span class="be-comment-time" style="text-align:right;font-size:11px;color:#b4b7c1;display:inline-block;width:49%;margin-bottom:15px;">
				<i class="fa fa-clock-o"></i>
				May 27, 2021 at 12:14pm
			</span>
			<p class="be-comment-text" style="font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;">
				Absolutely fantastic !!
			</p>
		</div>
	</div>
    <br>
	<div class="be-comment">
		<div class="be-img-comment" style="width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;">	
			<a href="blog-detail-2.html">
				<img src="https://pbs.twimg.com/profile_images/1404500645655240707/cZ08X5px_400x400.jpg" alt class="be-ava-comment" style="width: 60px;
    height: 60px;
    border-radius: 50%;"></a>
		</div>
		<div class="be-comment-content" style="margin-left: 80px;">
			<span class="be-comment-name" style="font-size:13px;font-family:'sans-serif';display:inline-block;width:49%;margin-bottom:15px;">
				<a href="blog-detail-2.html" style="color: #383b43;">Thomas M&uuml;ller</a>
			</span>
			<span class="be-comment-time" style="text-align:right;font-size:11px;color:#b4b7c1;display:inline-block;width:49%;margin-bottom:15px;">
				<i class="fa fa-clock-o"></i>
				February 27, 2021 at 3:14am
			</span>
			<p class="be-comment-text" style="font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;">
				Innovative ideas everywhere!
			</p>
		</div>
	</div>
	
</div>
</div></body>
</html>

{% endblock body %}