{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<!DOCTYPE html>
<html>
<title>How we work</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80');
  min-height: 100%;
}
</style>
<body>

<!-- Sidebar with image -->

<!-- Hidden Sidebar (reveals when clicked on menu icon)-->


<!-- Page Content -->


  <!-- Portfolio Section -->
  <div class="w3-padding-32 w3-content" id="portfolio">
    <br><br>
    <h2 class="w3-text-black">How we work</h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" style="width:100%">
        
      </div>

      <div class="w3-half">
        <img src="https://images.unsplash.com/photo-1479064555552-3ef4979f8908?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" style="width:100%">
        
      </div>
    
    </div>
  
  </div>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-black w3-padding-32" id="about">
    
    
    <p>Step 1 : 
      You desribe in the contact us page about when and which store you want to visit 

       <br><br><br>Step 2 : 
       We cross check with the store you want visit whether the time slot mentioned by you is free or not

       <br><br><br>Step 3 : 
       We contact you with the details you provided us if there is slot availabe for you or not 

       <br><br><br>Step 4 : 
       If there is a slot availabe you can go to the shop  without the worry of being overcrowded in a store in this pandemic
    </p>
    

   

  <!-- Contact Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
    <a href="/contact"><h2>Lets get in touch</h2>
    <hr class="w3-opacity">

    
    
  
  </div>  
  
  

</div>
<div class="w3-content w3-justify w3-text-black w3-padding-32" id="about">


</body>
</html>

{% endblock body %}
